.drag-item{
  display: flex;
  justify-content: center;
  padding: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.15);
  border: 1px solid #fff;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  min-height: 50px;
}

.item-change{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  border: 1px solid;
  padding: 20px;
  background: wheat;
}

.item-fields{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.close-button{
  position: absolute;
  right: 0;
  top: 0;
}