.drag-container{
  width: 50px;
  background: grey;
  height: 300px;
  margin: 10px;
  padding: 5px;
}
.container-name{
  text-align: center;
  cursor: pointer;
}

.container-button{
  display: flex;
  margin: auto;
}